<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시물 삭제</title>
    <link rel="stylesheet" type="text/css" href="./../static/login_form.css">
  </head>

  <body>
    <form id="login_form" method="POST" action="/board_delete">
      <label class="legend">게시물 번호</label>
      <input type="text" name="num"><br>

      <label class="legend">입력했던 패스워드</label>
      <input type="text" name="pw"><br>
      <button type="submit">삭제하기</button>
  </body>
</html>


