<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" type="text/css" href="./../static/login_form.css">
  </head>

  <body>
    <form id="login_form" method="POST" action="/out2">
      <label class="legend">아이디</label>
      <input type="text" name="out_id"><br>
      <label class="legend">패스워드</label>
      <input type="password" name="out_pw"><br>
      <button type="submit">탈퇴하기</button>
    </form>
  </body>
</html>

